/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:center;
	border: 2px solid black;
	width:80%;
	height:20vh;
	align-items:center;
	border-radius:24px;
	background-color:#D3D3D3;
}
.container>div{
	
	width:10%;
	height:40%;
	border-radius:100%;
	margin:5px;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}
.red{
	background-color:red;
}
